@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  background-color: rgb(228, 181, 255);
  color: #08124f;
  margin: 0;
  padding: 40px;
  line-height: 1.75;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {

  font-size: 3.5em;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

h2 {font-size: 2.5em;
  font-weight: bold;
  margin: 5px;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;;

}


dt {
	font-size: 2em;
	font-weight: bold;
  margin: 10px;
  text-align: left;

}

dl{ font-size: 1em;
font-style: italic;
text-align: left;
border: 1px solid rgb(146, 164, 255);
width: 500px;
background-color: rgb(146, 164, 255);
margin: 40px;
padding: 10px;
box-shadow: 10px 10px 5px rgb(135, 102, 255);
border-radius: 10px;
}

.column{text-align: left;}

ul{
  border:  solid rgb(146, 164, 255);
  width: 500px;
  background-color: rgb(146, 164, 255);
  margin: 40px;
  padding: 10px;   
  box-shadow: 10px 10px 5px rgb(135, 102, 255);
  border-radius: 10px;
  }

a:link {
    color: rgb(105, 173, 255);
  }
  
a:visited{color: blueviolet;}

a:hover {
    color: rgb(14, 7, 81);
  }