@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  background-color: rgb(228, 181, 255);
  color: #08124f;
  margin: 0;
  padding: 40px;
  line-height: 1.75;
  font-family: Georgia, 'Times New Roman', Times, serif;}


h1{font-weight: bolder; 
    font-size: 3em;}

h2{font-weight: bold; 
    text-align: left;
    font-style: italic;
font-size: 1.5em;}

section{font-style: italic; 
    font-size: 1em;
    text-align: left;
    margin: 40px; 
    padding: 10px;
    border: 1px solid rgb(146, 164, 255);
    width: 800px;
    background-color: rgb(146, 164, 255);
    box-shadow: 10px 10px 5px rgb(135, 102, 255);
    border-radius: 15px;}


a:link {
    color: rgb(14, 111, 113);
  }
  
a:visited{color: blueviolet;}

  a:hover {
    color: rgb(14, 7, 81);
  }

dl{font-size: 1em; 
    font-weight: lighter; 
    font-style: normal;
    text-align: left;
    margin: 40px; 
    padding: 10px;
    border: 1px solid rgb(146, 164, 255);
    width: 200px;
    background-color: rgb(146, 164, 255);
    box-shadow: 10px 10px 5px rgb(135, 102, 255);
    border-radius: 15px; }
